<div class="header">
    <h1 class="heading1">TRUELY COURSE.....</h1>
  </div>
  <body>
    

    <div text-align:center class="table">
    <h1 class="title">Login</h1>
    <br>
    <br>

    <input type="text" name="email" id="email" placeholder="Enter email" >
    <br>
    <br>
    <br>
    <br>
    <input type="text" name="password" id="password" placeholder="password">
    <br>
    <br>
    <br>
    
    <nav>
    <a routerLink="../resource">LOGIN</a>
    </nav>
    <nav>
     <h5><b>Are u new?</b></h5><a routerLink="../signup"><b>SIGN UP</b></a>
    </nav>
  
  </div>
  
  
  </body>
  
  
  
  


<router-outlet></router-outlet>


