html {
  height:100%;
}
.button1 {
  background-color:lightblue;
  border: none;
  color: white;
  padding: 90px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.table
{
        width: 500px;   
        margin: auto;
        margin: 30 0 0 350;  
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 70px;
        padding-left: 100px;  
        background-color:lightblue;
        border-radius: 15px ;  
        text-align: center;

}

.title
{
    text-align:center;
    padding:50px 0 20px;
    margin: 0;
padding: 0;
color: black;
text-transform: uppercase;
font-size: 36px;
}
.header {
    overflow: hidden;
    background-color:transparent white;
  padding: 20px 10px;
  color:black;


  }
  .heading1
{
    
    padding:50px 0 20px;
    margin: 0;
padding: 0;
color: black;
text-transform: uppercase;
font-size: 36px;
}
.heading2
{
    
    padding:50px 0 20px;
    margin: 0;
padding: 0;
color: black;
text-transform: uppercase;
font-size: 20px;
}
b1 {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-size: cover;
    font-family: sans-serif;
}

body {
  margin:0;
}
b1 {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-size: cover;
    font-family: sans-serif;
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}



h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}