<div class="header">
    <h1 class="heading1">TRUELY COURSE.....</h1>
    <nav>
        <a routerLink="/login"><b>LOG OUT</b></a>
    </nav>
</div>
<br>
<br>
<br>
<a class="button1" id="grid1" routerLink="../resource1"><b>ANGULAR JS<br>2020<br>FRONT END TECHNOLOGY</b></a>

<a class="button1" id="grid2" routerLink="../resource2"><b>REACT<br>2021<br>FRONT END TECHNOLOGY</b></a>


    <a class="button1" id="grid3" routerLink="../resource3"><b>NODE JS<br>2020<br>BACK END TECHNOLOGY</b></a>


    <a class="button1" id="grid4" routerLink="../resource4"><b>MY SQL<br>2021<br>BACK END DATABASE</b></a>


    <a class="button1" id="grid5" routerLink="../resource5"><b>MONGO DB<br>2019<br>BACK END DATABASE</b></a>

    <a class="button1" id="grid6" routerLink="../resource6"><b>SPRING BOOT<br>2020<br>BACK END TECHNOLOGY</b></a>

